@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import "../_variables";

* {
    box-sizing: border-box;
}

.type{
    width: 70%;
    background-color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    .type_text {
        display: flex;
        flex-direction: column;               
        align-items: center;
        align-self:center;
        width: 50%;
        font-family: 'Amatic SC', cursive;
        .icon {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-size: 30px;
            margin-bottom: 50px;
            color: $green;
        }
        h3{
            margin-bottom: 30px;
            font-size: 60px;
        }
        p {
            width: 60%;
            text-align: center;
            font-size: 30px;
        }
    }
    img {     
        width: 50%;
        margin-right: 30px;
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
        }
    a {
        font-size: 25px;
        margin-top: 60px;
        text-decoration: none;
        padding: 20px 40px;
        border: 1px solid black;
        color: black;
        &:hover {
            color: white;
            border: transparent;
            background: $green;
            transition: color 0.2s linear, background 0.2s linear;
        }
    }
   
    }